/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* System Fonts */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: 300;
  overflow-x: hidden;
  color: white;
  background-color: #2C353C;
}

/* Background Shorthand */
body {
  background: url() #2C353C;
}

/* Link Optimization */
a {
  transition: all 0.3s ease;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* List Padding */
ul {
  padding: 0;
}

/* Button Focus Outline */
button:focus {
  outline: none;
}

/* Paragraph Line Height */
p {
  line-height: 1.9;
}

/* Logo Margin */
.tm-logo {
  margin-right: 20px;
}

/* Slogan Font Size */
.tm-slogan {
  font-size: 0.8rem;
}

/* Navigation Toggler */
.navbar-toggler {
  padding: 8px 15px;
  border: 0;
  border-radius: 0;
  transform: skewX(-15deg);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.navbar-toggler i {
  transform: skewX(15deg);
}

/* Expandable Navigation */
.navbar-expand-lg {
  padding-left: 0;
  padding-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}

.navbar-expand-lg .navbar-nav .tm-nav-link {
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
  padding-bottom: 30px;
}

.nav-item {
  margin-right: 60px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item.active .tm-nav-link,
.nav-item:hover .tm-nav-link {
  color: #9CC;
}

/* Page Background */
.tm-bg {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -1000;
}

.tm-bg-left,
.tm-bg-right {
  position: relative;
  width: 50%;
  height: 100%;
}

.tm-bg-right {
  background-color: rgba(0, 0, 0, 0.5);
}

.tm-bg-left {
  border-right: 230px solid rgba(0, 0, 0, 0.5);
  border-top: 100vh solid transparent;
}

.tm-bg-controls-wrapper {
  display: inline-block;
  margin-left: -150px;
}

.tm-bg-control {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 6px;
  cursor: pointer;
}

.tm-bg-control.active,
.tm-bg-control:hover {
  background-color: white;
  border: 2px solid #fff;
  border-radius: 50%;
}

/* Container Styling */
.tm-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Row Styling */
.tm-row {
  display: flex;
}

/* Left Column Styling */
.tm-col-left {
  width: 50%;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

/* Right Column Styling */
.tm-col-right {
  width: 50%;
  height: 100%;
  padding-left: 70px;
  padding-right: 70px;
}

/* Content Styling */
.tm-content {
  max-width: 660px;
  margin-top: 50px;
  padding-right: 20px;
}

.tm-about {
  max-width: 525px;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.8);
}

/* Content Title Styling */
.tm-content-title {
  font-size: 1.5rem;
}

/* Horizontal Rule Styling */
hr {
  border-top: 1px solid white;
}

/* Button Styling */
.btn {
  padding: 10px 25px;
  border-radius: 0;
}

.btn-big {
  padding: 9px 40px;
  font-size: 1.2rem;
}

.btn-primary {
  background-color: white;
  color: black;
  border: 0;
}

.btn-primary:hover {
  background-color: #9CC;
  color: black;
}

/* Site Footer Styling */
.tm-site-footer {
  padding: 40px 0 20px;
  max-width: 660px;
  font-size: 0.95rem;
}

.tm-col-footer {
  padding-left: 0;
}

.tm-text-link {
  color: white;
}

.tm-text-link:hover,
.tm-text-link:focus {
  color: #9CC;
}

/* Service Styling */
.tm-service-text {
  max-width: 365px;
}

.tm-service-img {
  margin-right: 25px;
}

.tm-service-img-r {
  margin-left: 25px;
}

/* Contact Styling */
.form-control,
textarea {
  color: white;
  background-color: transparent;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #999A9B;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 10px 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.form-control:focus {
  color: white;
  background-color: transparent;
  box-shadow: none;
  border-color: #9CC;
  outline: none;
}

.mb-85 {
  margin-bottom: 85px;
}

.tm-contact-main {
  max-width: 690px;
}

.tm-contact {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.form-control::-webkit-input-placeholder {
  color: white;
}

.form-control:-ms-input-placeholder {
  color: white;
}

.form-control::placeholder {
  color: white;
}

/* Media Queries */
@media (max-width: 1200px) {
  .nav-item {
    margin-right: 30px;
  }

  .tm-page-right {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 992px) {
  .tm-nav {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    top: 44px;
    right: 4px;
  }

  .navbar-expand-lg .navbar-nav .tm-nav-link {
    color: white;
    font-size: 1.1rem;
    padding: 13px 20px;
  }

  .nav-item {
    margin-right: 0;
  }

  .nav-item.active .tm-nav-link,
  .nav-item:hover .tm-nav-link {
    color: #9CC;
  }

  .tm-content {
    margin-top: 20px;
  }

  .tm-site-footer {
    padding-top: 40px;
  }

  .tm-col-left {
    width: 40%;
  }

  .tm-col-right {
    width: 60%;
    padding-left: 100px;
    padding-right: 30px;
  }

  .tm-col-footer {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .tm-row {
    flex-direction: column;
  }

  .tm-col-left,
  .tm-col-right,
  .tm-bg-left,
  .tm-bg-right {
    width: 100%;
  }

  #tm-main-nav {
    position: fixed;
    top: 50px;
    right: 40px;
    padding-bottom: 0;
  }

  .tm-bg {
    flex-direction: column;
  }

  .tm-bg-left {
    height: 200px;
    border-bottom: 50px solid rgba(0, 0, 0, 0.5);
    border-right: 0;
    border-top: 0;
  }

  .tm-bg-right {
    height: calc(100% - 200px);
  }

  .tm-bg-controls-wrapper {
    margin-left: 0;
    margin-top: 50px;
  }

  .tm-content {
    max-height: none;
    margin-top: 40px;
  }

  .tm-col-right {
    padding-top: 40px;
    padding-left: 30px;
  }

  .tm-col-footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 460px) {
  .tm-logo {
    margin-right: 15px;
  }

  .tm-sitename {
    font-size: 1.8rem;
  }

  .tm-slogan {
    font-size: 0.8rem;
    margin-top: 5px;
  }

  .tm-bg-left {
    border-right: 140px solid rgba(0, 0, 0, 0.5);
  }

  .tm-bg-control {
    width: 12px;
    height: 12px;
    margin: 4px;
  }

  .tm-content-title {
    font-size: 1.3rem;
  }
}
